.container{
    width: 640px;
    margin: 30px auto;
    padding: 20px 30px;
    background-color: #b3e5fc;
    font-family: 'Lucida Sans';
}

.user-div{
    display: flex;
    margin: 5px 0px;
}

.user-name{
    width: 80%;
    padding: 10px 30px;
    background-color: #eee;
}

.user-status{
    width: 20%;
    padding: 10px 40px;
    background-color: #FADBD8;
}